/* =========================================
   PÁGINA: SOBRE NOSOTROS
   ========================================= */

/* Utilidades de texto adicionales */
.text-white { color: var(--color-blanco); }
.text-left { text-align: left; }

/* En dispositivos móviles, forzamos que el texto esté centrado para mejorar la lectura.
   La alineación a los lados se aplicará solo en Desktop. */
@media (max-width: 767px) {
    .text-right, .text-left {
        text-align: center;
    }
}

/* Fondo azul oscuro para las secciones ¿Quiénes somos? y Visión */
.bg-deep-blue {
    background-color: #190082; /* Tono azul oscuro/violeta basado en el mockup */
    color: var(--color-blanco);
}